.header {
    display: flex;
    width: 1440px;
    height: 80px;
    border-bottom: 1px solid #EBE8F4;
    margin: auto;
}

/* left logo */

.logo {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    margin: 25px 149px 26px 80px;
}

/* top menu */

.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 702px;
    height: 22px;
    margin: 29px 0px;
}

.top-link {
    text-decoration: none;
    padding-right: 44px;
    color: #726E8D;
    font-family: Open Sans;
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
}

.top-link-7 {
    text-decoration: none;
    color: #726E8D;
    font-family: Open Sans;
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
}

/* right menu */

.right-menu {
    display: inline-flex;
    gap: 16px;
    width: 80px;
    height: 16px;
    margin: 30px 80px 34px 281px;
}

/* section filters */

.filters {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 223px;
    margin: auto;
}

.headering {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    margin: 80px 556px 24px 575px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 64px;
    margin: 24px 80px 5px 80px;
}

.item {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 12px 24px;
    margin-right: 24px;
    margin-left: 24px;
    border: none;

    width: 1280px;
    appearance: none;
    overflow: hidden;
    background: url('../img/Caret-down.png') no-repeat right;
}

.sorting {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-left: 415px;
    margin-right: 3px;
}

.by {
    color: #2A254B;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

/* section listings */

.listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 305px 462px;
    width: 1280px;
    gap: 24px;
    padding: 28px 80px 20px 80px;
    margin: auto;
}

.card {
    width: 305px;
    height: 462px;
}

.title {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
}

.price {
    color:#2A254B;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* button view collection */

.button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    margin-bottom: 40px;

    color: #2A254B;
    background-color: #F9F9F9;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

/* section sign-up */

.sign-up {
    display: flex;
    flex-direction: column;
    background-image: url(../img/Image.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 521px;
    margin: auto;
}

.title-join {
    color: #2A254B;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    margin: 71px 130px 0px 769px;
}

.subtitle {
    color:#2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin: 21px 201px 216px 769px;
}

.button-sign-up {
    width: 120px;
    height: 56px;
    padding: 16px 28px;
    margin: 0px 176px 70px 792px;

    border: none;
    background-color: #2A254B;
    color:#FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
}

/* footer */

.footer {
    display: flex;
    width: 1440px;
    height: 380px;
    margin: auto;
    background-color: #2A254B;
    position: relative;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    margin: 58px 100px 0px 82px;
    gap: 12px;
}

.footer-item-1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.footer-item {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.footer-categories {
    display: flex;
    flex-direction: column;
    margin: 58px 131px 0px 0px;
    gap: 12px;
}

.footer-company {
    display: flex;
    flex-direction: column;
    margin: 58px 85px 0px 0px;
    gap: 12px;
}

.picture {
    width: 642px;
    height: 195px;
    margin-top: 58px;
}

.line {
    width: 1277px;
    height: 1px;
    background-color: #4E4D93;
    position: absolute;
    top: 300px;
    right: 83px;
    bottom: 68px;
    left: 80px;
    border: 1px solid #2A254B;
}

.copyright {
    position: absolute;
    top: 336px;
    right: 1192px;
    bottom: 25px;
    left: 80px;

    color:#FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    display: flex;
    position: absolute;
    top: 334px;
    right: 83px;
    bottom: 22px;
    left: 1093px;
    gap: 24px;
} 